<div>
  <h1>
    Welcome to {{ title }}!
  </h1>

  <h2>
    1) Scegli una stanza dall'elenco
  </h2>
  <!--Questo codice serve a generare una comb box. selectedOption contiene il titolo della canzone
  selezionata poichè in [value] abbiamo scelto di usare il titolo dell'album -->
  <select [(ngModel)]="selectedOption"  (change)="onChange()">
    <option [value]="stanza.nome" *ngFor="let stanza of stanze"> {{stanza.nome}}</option>
  </select> <br>

  <!--Questo codice stampa il titolo dell'album selezionato
  Serve solo a scopo di debug, puoi eliminarlo dall'applicazione finale-->
  {{selectedOption}}

  <hr>

  <!--Questo codice visualizza il testo 2 e la form solo se selectedOption è definito (diverso da undefined)-->
  <div *ngIf="selectedOption">
    <h3>
      2) Ora seleziona una prenotazione da aggiungere alla stanza
    </h3>


    <!--Premendo prenota si inviano le informazioni sulla canzone al metodo onClick-->
    <form>
      <input type="date" #da> : Da <br>
      <input type="date" #a> : A <br>
      <input #n> : Nome <br>
      <input #c> : Cognome <br>
      <button (click)="onClick(da,a,n,c)"> Aggiungi prenotazione </button>
    </form>
  </div>

  <!--Questo codice stampa ogni canzone della songList preceduta dal titolo del suo album
  Serve solo a scopo di debug, puoi eliminarlo dall'applicazione finale-->

  <app-lista-pren [listaStanze] = listaPren class="card"></app-lista-pren>

  <!--Questo codice stampa l'oggetto song list in formato JSON
  Serve solo a scopo di debug, puoi eliminarlo dall'applicazione finale-->

  <app-dettagli [stanza]="selectedStanza" class="card"></app-dettagli>
